* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signin-container,
.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board {
  background-color: black;
  color: white;
  padding: 22rem 11rem;
  font-size: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.signup-container {
  padding-right: 24rem;
}
.signup-form {
  margin-right: 20rem;
}

.signup-form h2,
.signin-form h2 {
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.signup-form p,
.signin-form p {
  font-size: 15px;
}
.signup-btn-group,
.signin-btn-group {
  margin-bottom: -2.5rem;
  margin-top: 0.5rem;
}
.signin-btn-group button,
.signup-btn-group button {
  background-color: rgb(255, 242, 242);
  padding: 10px;
  color: rgb(138, 135, 135);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 3rem;
  margin-top: 15px;
  margin-bottom: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.signup-btn-group button:nth-child(2) {
  margin-top: 1rem;
}

.signin-btn-group button:hover,
.signup-btn-group button:hover {
  background-color: #f3ecec;
}
.input-field {
  padding-right: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  border: none;
  padding-left: 1rem;
  border-radius: 8px;
  background-color: rgb(240, 237, 237);
}
.login-card,
.signup-card {
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-top: 4rem;
}
.forget {
  color: blue;
  font-size: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.2rem;
}
.signin-btn,
.signup-btn {
  padding: 0.5rem 8.2rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.signup-btn {
  margin-top: 2rem;
}
.signin-btn:hover,
.signup-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 1024px) {
  .board {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .board {
    margin-right: 1rem;
    height: 123vh;
  }
}
@media only screen and (max-width: 426px) {
  .board {
    display: none;
  }

  .signin-form,
  .signup-form {
    text-align: center;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
  }
  .signin-btn-group,
  .signup-btn-group {
    margin-left: 2.5rem;
  }
  .signin-btn-group button,
  signup-btn-group button {
    margin-top: 1.5rem;
  }
  .signin-btn {
    font-size: 0.8em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media only screen and (max-width: 376px) {
  .signin-form {
    margin-left: 1rem;
  }
  .signup-card {
    margin-right: 2rem;
  }
}
.main-dashboard {
  background-color: rgb(244, 244, 245);
  padding-top: 1.5rem;
}
.dash-board {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 92vh;
  width: 20%;
  margin-left: 2rem;
  border-radius: 20px;
  padding: 2rem;
}
.head {
  font-size: 3em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  padding-left: 2rem;
  padding-top: 1rem;
  cursor: pointer;
}
.options {
  margin-top: -10rem;
}
.opt {
  padding-bottom: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.opt div {
  padding-top: 3px;
  padding-left: 0.5rem;
  cursor: pointer;
}
.help {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}
.help div {
  padding-bottom: 1rem;
  cursor: pointer;
}
.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding-top: 1rem;
}
.nav-head {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 1rem;
  padding-right: 10rem;
}
.nav-search {
  margin-left: 28rem;
  border-radius: 10px;
  background-color: white;
}
.nav-input {
  padding-bottom: 2px;
  margin-bottom: 5px;
  font-size: 1rem;
  border: none;
  padding-left: 0.5rem;
  padding-right: -1rem;
}
.nav-input:focus {
  outline: none;
}
.search-icon {
  color: rgb(155, 134, 134);
  margin-left: -1rem;
  margin-top: 1rem;
}
.nav-noti {
  margin-left: -1rem;
}
.nav-acc {
  margin-right: 3rem;
  margin-left: -1rem;
}
.data-card {
  padding: 2rem;
  background-color: rgb(88, 123, 153);
  width: 15rem;
  height: 7rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  font-family: Inter, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: 24px;
}
.data {
  margin-top: 1.4rem;
}
.icon {
  margin-top: -5rem;
  font-size: 2em;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -42rem;
  margin-left: 16rem;
}
.card {
  margin-left: 2rem;
}
.chart {
  width: 75%;
  margin: auto;
  margin-left: 21rem;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 10px;
}
.schedule-card {
  background-color: rgb(255, 255, 255);
  width: 23rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
}
.schedule-card_head {
  display: flex;
  justify-content: space-between;
}
.schedule-card_body {
  border-left: 4px solid yellow;
  padding-left: 1rem;
}
.schedule-card_body p:nth-child(2) {
  font-size: 0.8em;
  color: gray;
}
.schedule-card_body p:nth-child(3) {
  font-size: 0.8em;
  color: gray;
}
.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.schedule-container {
  margin-left: 58rem;
  margin-top: -13rem;
  padding-bottom: 3rem;
}
.pie-container {
  width: 24rem;
  background-color: white;
  margin-left: 30rem;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
}
@media screen and (max-width: 770px) {
  .options {
    display: flex;
    margin-top: 2rem;
  }
  .dash-board {
    margin-left: 0;
    margin-top: 3rem;
    width: 100%;
    border-radius: 0;
    flex-direction: row;
    background-color: transparent;
    color: black;
  }
  .chart {
    margin-left: 5rem;
    width:100%;
  }
  .main-nav {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .nav-head {
    padding-right: 0;
  }
  .nav-search {
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .cards-container {
    margin-top: 2rem;
    margin-left: 0;
    margin-top: -30rem;
  }
  .schedule-container {
    margin-left: 0;
    padding-left: 2rem;
    margin-top: -13rem;
  }
  .pie-container {
    margin-left: auto;
    margin-right: -7rem;
  }
  .main-dashboard {
    width: 100%;
    width: 50rem;
  }
  .main-nav {
    width: 100%;
  }
  .card {
    margin-bottom: 2rem;
  }
  .dash-board .head {
    display: none;
  }
  .nav-noti {
    margin-right: 2rem;
  }
  .help {
    display: none;
  }
}